body{
    font-family: 'Comic Neue', cursive;
    margin: 0;
}

h1{
    font-size: 50px;
}

.orange-color{
    color: orange;
}
h2{
    font-size: 40px;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    text-align: justify;
    padding-right: 20%;
}

.flexible-container{
    display: flex;
    margin-bottom: 100px;
    /* align-items: center; */
    
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-right: 1%;
        
}
.half-width img{
    width: 90%;
    padding-top: 20px;
    margin-right: 10px;
      
}
.link-botton{
    text-align: center;
    text-decoration: none;
    background-image: linear-gradient(#F78868, #FB6655);
    padding: 15px 50px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    

}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
}

.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
    padding-left: 50px;
    
}

#broder-side{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
    
}

#border-side1{
    border-left: 7px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
    
}

footer div h4{
    text-align: center;
}